	<div class="card top-space">
		<div class="p+">
			<h1>{{title}}</h1>
			<div flex-container ="row">
				<div flex-item>

		<div class="text-field text-field--light-theme text-field--fixed-label text-field--with-icon" ng-class="serv.hora_ini" fixed-label="true" icon="clock">
			<div class="text-field__icon ng-scope">
				<i class="mdi mdi-clock"></i>
			</div>
			<input type="time" mg-model="serv.hora_ini">
			</div>



				
					<!--lx-text-field fixed-label="true" icon="clock">
						<input type ="time" mg-model="serv.hora_ini">
						</lx-text-field-->

							
					<lx-text-field label="Km inicio" fixed-label="true" icon="car">
						<input type ="number"  ng-model="serv.km_inicio">
						</lx-text-field>

					<lx-text-field label="Lugar Salida" fixed-label="true" icon="map-marker">
						<input type ="text" ng-model="serv.lugar_salida">
						</lx-text-field>

		<div class="text-field text-field--light-theme text-field--fixed-label text-field--with-icon" ng-class="serv.hora_ter" fixed-label="true" icon="clock">
			<div class="text-field__icon ng-scope">
				<i class="mdi mdi-clock"></i>
			</div>
			<input type="time" mg-model="serv.hora_ter">
			</div>
						
					<!--lx-text-field fixed-label="true" icon="clock">
						<input type ="time" mg-model="serv.hora_ter">
					</lx-text-field-->
					
					<lx-text-field label="Km termino" fixed-label="true" icon="car">
						<input type ="number"  ng-model="serv.km_termino">
						</lx-text-field>

					<lx-text-field label="Lugar Llegada" fixed-label="true" icon="map-marker">
						<input type ="text" ng-model="serv.lugar_llegada">
						</lx-text-field>

					<lx-text-field label="Nro pasajeros" fixed-label="true" icon="account-multiple-plus">
						<input type ="number"  ng-model="serv.npas">
						</lx-text-field>

					</div>
				</div>
					
		</div>
	</div>

<button class="btn btn--xl btn--blue btn--fab ng-scope" style="position: fixed; right: 3%; bottom: 3%; float: right;">
<i class="icon icon--xl icon--blue icon--circled mdi mdi-content-save" ng-click="guardarservbus()"></i>
</button>

